@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    font-family: 'Ubuntu', sans-serif;

}

.menu-title{

    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.15);

}
.chat{

    box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.2);

}
.msgs::-webkit-scrollbar {

    width: 6px; 

}
.msgs::-webkit-scrollbar-thumb{

    height: 10%;
    border-radius: 20px;
    @apply bg-jeek-gray-100 border border-jeek-gray-100 opacity-50;

}
.msg{

    @apply mx-8 mb-2 p-4 bg-jeek-gray-300 rounded flex shadow-md;

}
.msg-p{

    @apply px-4 pt-1;

}
.msg-jogo{

    @apply italic text-center px-6 my-3 text-jeek-gray-200;

}

.tabuleiro,
#tabuleiro-canvas{

    box-shadow: 13px 13px 9px rgba(0, 0, 0, 0.25);
    @apply rounded-[20px] w-64 h-64 md:w-[28rem] md:h-[28rem];

}
.coluna{

    @apply flex;

}
.casa{

    @apply w-16 h-16 md:w-28 md:h-28 bg-jeek-gray-200 border border-jeek-gray-500 cursor-pointer;

}
.casa1{

    @apply rounded-tl-[20px];

}
.casa2{

    @apply rounded-tr-[20px];

}
.casa3{

    @apply rounded-bl-[20px];

}
.casa4{

    @apply rounded-br-[20px];

}

.peca-preta,
.peca-branca{

    @apply w-10 h-10 m-3 md:w-20 md:h-20 md:m-4 rounded-full;
    box-shadow: -2px -2px 8px #C9C9C9, 6px 6px 14px rgba(0, 0, 0, 0.4);

}
.peca-branca-chat,
.peca-preta-chat{

    @apply w-8 h-8 rounded-full pr-8;
    box-shadow: -2px -2px 8px #C9C9C9, 6px 6px 14px rgba(0, 0, 0, 0.4);

}

.peca-branca,
.peca-branca-chat{

    @apply bg-white;

}
.peca-preta,
.peca-preta-chat{

    @apply bg-black;

}

.relogio-brancas,
.relogio-pretas{

    @apply w-40 rounded-full text-3xl font-bold 
    p-4 border-4 text-center mb-4;

}
.relogio-brancas{

    @apply bg-white text-jeek-gray-600 border-white;

}

.botoes{

    @apply text-center md:pt-12;

}
.botao-jogo{

    @apply w-16 md:w-28 p-3 py-4 md:p-4 bg-jeek-gray-400 rounded-full mb-4 text-xl font-bold;

}
.botao-revanche{

    @apply w-14 p-3 bg-jeek-gray-400 rounded-full text-xl font-bold;

}
.botao-aceitar-revanche{

    @apply bg-green-200;

}
.botao-recusar-revanche{

    @apply bg-red;

}
.botao-passar{

    @apply bg-blue;

}
.botao-desistir{

    @apply bg-red;

}
.botao-restart{

    @apply bg-jeek-gray-700 text-white;

}

.tempo-caindo{

    @apply border-red;

}

.option{

    @apply py-3 px-6 hover:bg-jeek-gray-400 w-full cursor-pointer transition-all;

}
.active{

    @apply max-h-60 opacity-100;
    
}
.option input{

    display: none;

}
.option label{

    cursor: pointer;

}
.margin0auto{

    margin: 0 auto;

}