@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{

    font-family: 'Ubuntu', sans-serif;

}

.nome-participante{

    @apply bg-jeek-gray-400 text-sm md:text-lg text-white px-2 py-1 rounded shadow-sm;

}
.torneio-chave{

    @apply bg-jeek-gray-350 rounded;

}
.chave-1{

    @apply mb-2;

}
.chave-2{

    @apply mb-24 mt-12;

}
.chave-3{

    @apply mb-72 mt-36;

}
.torneio-participante{

    @apply w-40 h-10 flex justify-between;

}
.pontuacao{

    @apply bg-jeek-gray-200 text-white py-2 text-center rounded-r h-full w-8;

}
.torneio-participante-derrota{

    @apply bg-jeek-gray-600 opacity-20;

}

#menu-options{

    @apply md:w-[20vw] w-screen h-screen top-0 float-right bg-jeek-gray-700 shadow-lg;

}
.menu-option{

    @apply w-full flex align-middle gap-5 text-lg cursor-pointer transition ease-in-out md:py-4 md:px-6 p-3 text-[#EEE] hover:text-white hover:bg-jeek-gray-500 hover:shadow-sm;

}
.menu-option i{

    @apply pt-[0.3rem];

}
.menu-title{

    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.15);

}
#menu-hamburger{

    @apply cursor-pointer;

}
.chat{

    box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.2);

}
.msgs::-webkit-scrollbar {

    width: 6px; 

}
.msgs::-webkit-scrollbar-thumb{

    height: 10%;
    border-radius: 20px;
    @apply bg-jeek-gray-100 border border-jeek-gray-100 opacity-50;

}
.msg{

    @apply mx-8 mb-2 p-4 bg-jeek-gray-300 rounded flex shadow-md;

}
.msg-p{

    @apply px-4 pt-1;

}
.msg-jogo{

    @apply italic text-center px-6 my-3 text-jeek-gray-200;

}

.tabuleiro,
#tabuleiro-canvas{

    box-shadow: 13px 13px 9px rgba(0, 0, 0, 0.25);
    @apply rounded-[20px] w-64 h-64 md:w-[28rem] md:h-[28rem];

}
.coluna{

    @apply flex;

}
.casa{

    @apply w-16 h-16 md:w-28 md:h-28 bg-jeek-gray-200 border border-jeek-gray-500 cursor-pointer;

}
.casa1{

    @apply rounded-tl-[20px];

}
.casa2{

    @apply rounded-tr-[20px];

}
.casa3{

    @apply rounded-bl-[20px];

}
.casa4{

    @apply rounded-br-[20px];

}

.peca-preta,
.peca-branca{

    @apply w-10 h-10 m-3 md:w-20 md:h-20 md:m-4 rounded-full;
    box-shadow: -2px -2px 8px #C9C9C9, 6px 6px 14px rgba(0, 0, 0, 0.4);

}
.peca-branca-chat,
.peca-preta-chat{

    @apply w-8 h-8 rounded-full pr-8;
    box-shadow: -2px -2px 8px #C9C9C9, 6px 6px 14px rgba(0, 0, 0, 0.4);

}

.peca-branca-loading,
.peca-preta-loading{

    @apply w-6 h-6 rounded-full shadow-md;

}

.peca-branca,
.peca-branca-chat,
.peca-branca-loading{

    @apply bg-white;

}
.peca-preta,
.peca-preta-chat,
.peca-preta-loading{

    @apply bg-black;

}

.relogio-brancas,
.relogio-pretas{

    @apply w-40 rounded-full text-3xl font-bold 
    p-4 border-4 text-center mb-4;

}
.relogio-brancas{

    @apply bg-white text-jeek-gray-600 border-white;

}

.botoes{

    @apply text-center md:pt-12;

}
.botao-jogo{

    @apply w-16 md:w-28 p-3 py-4 md:p-4 bg-jeek-gray-400 rounded-full mb-4 text-xl font-bold;

}
.botao-revanche{

    @apply w-14 p-3 rounded-full text-xl font-bold;

}
.botao-aceitar-revanche{

    @apply bg-green-200;

}
.botao-passar{

    @apply bg-blue;

}
.botao-desistir{

    @apply bg-red;

}
.botao-restart{

    @apply bg-jeek-gray-700 text-white;

}

.tempo-caindo{

    @apply border-red;

}

.option{

    @apply py-3 px-6 hover:bg-jeek-gray-400 w-full cursor-pointer transition-all;

}
.active{

    @apply max-h-60 opacity-100;
    
}
.option input{

    display: none;

}
.option label{

    cursor: pointer;

}
.margin0auto{

    margin: 0 auto;

}

.user-container{

    @apply mb-2 shadow-sm flex justify-between py-4 px-8 rounded-md;

}

#candidatos-main a{

    @apply text-white underline;

}
#candidatos-main h2{

    @apply text-xl text-white font-bold py-2;

}
#candidatos-main div{

    @apply py-4;

}